.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.chat__title {
  padding: 0 2rem;
}
.chat__box {
  overflow-y: auto;
  scrollbar-color: var(--theme-surface2) transparent;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  padding: 2rem 4rem 2rem 4rem;
}
