.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.chat__box {
  overflow-y: auto;
  scrollbar-color: var(--theme-surface2) transparent;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column-reverse;
  gap: 0.3rem;
  padding: 1rem 1rem 2rem 4px;
}
