.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.chat__box {
  overflow-y: auto;
  scrollbar-color: var(--theme-surface2) transparent;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  padding: 0 2rem;
}
.chat__date-separator {
  align-self: center;
  font-weight: 500;
  background-color: var(--theme-surface0);
  padding: 0.5rem 1rem;
  border-radius: 5rem;
}
