.app {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 1.5rem;
  background-color: var(--theme-mantle);
  color: var(--theme-text);
  transition: height 0.1s;
}
.app__content {
  position: relative;
  overflow-y: auto;
  scrollbar-color: var(--theme-surface2) transparent;
  scrollbar-width: thin;
  display: flex;
  flex: 1;
}
.app__chat-bar {
  z-index: 1;
  padding: 0 2rem;
}
