.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--theme-mantle);
  color: var(--theme-text);
  -webkit-tap-highlight-color: transparent;
}
.app__content {
  position: relative;
  overflow-y: auto;
  scrollbar-color: var(--theme-surface2) transparent;
  scrollbar-width: thin;
  display: flex;
  flex: 1;
  padding-top: var(--header-height);
  padding-left: 2rem;
  padding-right: 2rem;
}

.app__content--chat {
  padding-left: 0;
  padding-right: 0;
}
