.chat-bubble {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  max-width: 60%;
  word-break: break-word;
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.chat-bubble__date {
  font-size: 0.8rem;
  align-self: end;
  color: var(--theme-subtext0);
}
.chat-bubble--user {
  align-self: end;
  background-color: var(--theme-surface1);
}
.chat-bubble--system {
  align-self: start;
  background-color: var(--theme-surface0);
}
.chat-bubble--error {
  background-color: var(--theme-red);
  color: var(--theme-crust);
}
.chat-bubble__display {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.chat-bubble__display-row {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
