.chat-bubble {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  max-width: 60%;
  word-break: break-word;
  white-space: pre-wrap;
}
.chat-bubble--user {
  align-self: end;
  background-color: var(--theme-surface1);
}
.chat-bubble--system {
  align-self: start;
  background-color: var(--theme-surface0);
}
