.chat-bubble {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  max-width: 60%;
  word-break: break-word;
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  background-color: var(--theme-base);
  font-size: 1.1rem;
}
.chat-bubble__date {
  font-size: 0.8rem;
  align-self: end;
  color: var(--theme-subtext2);
}
.chat-bubble__date--error {
  color: var(--theme-crust);
}
.chat-bubble--user {
  align-self: end;
  background-color: color-mix(
    in srgb,
    var(--theme-crust) 80%,
    var(--theme-accent) 20%
  );
}
.chat-bubble--system {
  align-self: start;
}
.chat-bubble--error {
  background-color: color-mix(
    in srgb,
    var(--theme-red) 80%,
    var(--theme-text) 20%
  );
  font-size: 1.2rem;
  color: var(--theme-crust);
}
.chat-bubble__display {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.chat-bubble__display-row {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
