.chat-bar {
  background-color: var(--theme-base);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  z-index: 1;
}

.chat-bar__input {
  border: none;
  background-color: transparent;
  color: var(--theme-text);
  outline: none;
  border-radius: 16px;
  padding-left: 1.5rem;
  padding-right: 0.5rem;
  flex-grow: 1;
}
.chat-bar__input::placeholder {
  color: var(--theme-overlay1);
}
.chat-bar__button-area {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
}
.chat-bar__button {
  background-color: var(--theme-blue);
  color: var(--theme-crust);
  font-size: 1.5rem;
  aspect-ratio: 1/1;
  min-height: 3rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
