.view-expense {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.view-expense__information {
  background-color: var(--theme-base);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.view-expense__icon {
  font-size: 4rem;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  aspect-ratio: 1/1;
  background-color: var(--theme-surface0);
  padding: 1.5rem;
  border-radius: 50%;
}
.view-expense__money {
  font-size: 2rem;
  font-weight: 700;
  align-self: center;
}
.view-expense__description {
  font-size: 1.5rem;
  align-self: center;
  text-align: center;
  word-break: break-word;
  white-space: pre-wrap;
}

.view-expense__about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.view-expense__about-title {
  font-size: 1.2rem;
  font-weight: 600;
}
.view-expense__rows {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.view-expense__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.view-expense__row-title {
  font-size: 1rem;
  font-weight: 600;
}
.view-expense__row-data {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.view-expense__choose-category-button {
  min-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  cursor: pointer;
  color: var(--theme-accent);
  border: none;
  padding: 0.5rem 0.8rem;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  background-color: color-mix(
    in srgb,
    var(--theme-accent) 10%,
    transparent 90%
  );
}
.view-expense__word-choice {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.view-expense__word-list {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.view-expense__word-label {
  border: 0.2rem solid var(--theme-surface0);
  color: var(--theme-text);
  padding: 0.3rem 1rem;
  border-radius: 2rem;
  font-weight: 500;
  cursor: pointer;
  transition-property: border, background-color, color;
  transition-duration: 0.2s;
}

.view-expense__word-label:has(:checked) {
  --transparent-accent: color-mix(
    in srgb,
    var(--theme-accent) 20%,
    transparent 80%
  );
  border: 0.2rem solid transparent;
  background-color: var(--transparent-accent);
  color: var(--theme-accent);
}
.view-expense__word-label:has(:focus) {
  border: 0.2rem solid var(--theme-accent);
}
.view-expense__word-check {
  height: 0;
  width: 0;
  outline: 0;
}

.view-expense__edit {
  background-color: var(--theme-base);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
